.skills-section {
    min-height: 100vh;
    /* background: #ff6b6b; */
}

.skills-section h1 {
    font-size: xx-large;
    font-weight: bolder;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    padding: 0px 4.2%;
}

.skill {
    width: 95px;
    height: 115px;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skill:hover {
    transform: scale(1.1);
    /* background-color: #1235b5; */
    background: #4d73fa;

    transition: all .8s ease !important;
    cursor: pointer;
    color: white;
}


.skill p {
    font-size: 12px;
    font-weight: bold;
    /* color: white; */
    margin-top: 4px;
}

.skill p:last-of-type {
    margin-bottom: 5px;
}

.skill img {
    width: 40%;
    height: 30%;
}

.skill-tracks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0px 6.5%;
}

.track {
    min-height: 380px;
    max-width: 350px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin: 0.5rem;
}

.track:hover {
    background: #051243;
    color: white;
    opacity: 0.9;
    transform: scale (1.1) rotate(145deg);
    transition: all .8s ease !important;
    cursor: pointer;
}

.title-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-icon img {
    width: 25px;
    height: 25px;
}

.track p {
    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
}

.projects-btn {
    margin: 15px 0.5rem;
    background: rgb(48, 12, 130);
    position: absolute;
    bottom: 0px;
}

/* .projects-btn:hover {
    background: #562ee9;
} */

.skills-section h1 {
    color: #040c2a;
    /* margin-bottom: -1rem; */
}

.skilll {
    min-width: 350px;
    padding: 0px 6%;
}

.skills-contain {
    display: flex;
    width: 100%;

}

.skills-left {
    width: 50%;

}

.skills-right {
    width: 50%;
}

/* .bar:hover {
    cursor: pointer;
    color: white;
    width: 100%;
    animation: fillProgress 1.3s ease
}

@keyframes fillProgress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
} */

@media screen and (max-width:800px) {
    .skills-contain {
        flex-direction: column;
    }

    .skills-left {
        width: 100%;
    }

    .skills-right {
        width: 100%;
    }

    .skilll {
        min-width: 350px;
        padding: 0px 1%;
    }
}

@media screen and (max-width: 370px) {
    .skilll {
        min-width: 100%;
    }
}